#secao-perfil {
    border: 1px solid var(--cinza);
    border-radius: 16px;
    overflow: hidden;

    align-self: self-start;
    width: 100%;
}

#perfil-imagem {
    height: 5rem;
    background-image: url(assets/fundo-perfil.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#perfil-corpo {
    padding: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#perfil-corpo > img {
    width: 8rem;
    height: 8rem;
    margin-top: calc(-7rem);
}

#perfil-descricao {
    text-align: center;
}

#perfil-descricao > h2 {
    font-size: 1.5rem;
}

#perfil-descricao > p {
    opacity: 0.5;

    font-size: 1rem;
}

#perfil-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    max-width: 20rem;
}

#perfil-links a {
    color: var(--fundo);
    background-color: var(--branco);

    border-radius: 8px;
    padding: 0.75rem 0.5rem;
    
    text-align: center;

    text-decoration: none;

    font-size: 1rem;
    font-weight: bold;
}

