* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --vermelho-deadpool: #FF001E;
  --branco: #FFF;
 
  --gradiente-titulo: linear-gradient(90deg, #FFF, #B4B4B4);
  --fundo: #141414;
}

body {
  background-color: var(--fundo);

  font-family: 'Roboto', sans-serif;

  background-image: url(assets/deadpool-text-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2.25rem;

  position: sticky;
  top: 0;
}

header > nav > ul {
  display: flex;
  gap: 2rem;
  align-items: center;

  list-style: none;
}

header > nav a {
  color: var(--branco);
  text-decoration: none;
}

#header__botoes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#header__botoes > button {
  width: 4rem;
  height: 4rem;

  border-radius: 50%;

  background-color: var(--fundo);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

#secao-hero {
  height: calc(100vh - 8.5rem);

  position: relative;
}

#hero_imagem {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

#hero_imagem > img {
  height: 100%;
  width: 100%;

  object-fit: cover;
  object-position: center;
}

#hero_imagem > div {
  height: 60%;

  aspect-ratio: 1/1;

  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);

  z-index: -1;

  background-color: var(--vermelho-deadpool);

  box-shadow: 0 0 50px 15px var(--vermelho-deadpool);
}

#hero_texto {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  z-index: -2;

  background-image: var(--gradiente-titulo);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  display: flex;
  flex-direction: column-reverse;
}

#hero_texto > h1 {
  font-size: 15vw;
  font-family: 'Alfa Slab One', sans-serif;
  font-weight: 400;
}

#hero_texto > p {
  display: flex;
  justify-content: space-between;
  font-size: 2vw;
}

#hero_botoes {
  position: absolute;
  bottom: 1rem;
  left: 50%;

  transform: translateX(-50%);
}

#hero_botoes > button {
  padding: 1rem 1.5rem;

  border-radius: 9999px;
  color: var(--branco);

  cursor: pointer;
}

#hero_botoes > button:nth-child(1) {
  background-color: var(--vermelho-deadpool);
  border: 1px solid var(--vermelho-deadpool);
}

#hero_botoes > button:nth-child(2) {
  background-color: transparent;
  border: 1px solid var(--branco);
}